In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('zoo.data', header=None)

In [3]:
df.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], dtype='int64')

In [4]:
df1 = df.drop(17, axis=1)

In [5]:
df1[13] = df1[13] == 4

In [6]:
df1 = df1[df1[13] == True]

In [7]:
print(len(df1))

38

In [8]:
df1

          0   1   2   3   4   5   6   7   8   9   10  11  12    13  14  15  16
0   aardvark   1   0   0   1   0   0   1   1   1   1   0   0  True   0   0   1
1   antelope   1   0   0   1   0   0   0   1   1   1   0   0  True   1   0   1
3       bear   1   0   0   1   0   0   1   1   1   1   0   0  True   0   0   1
4       boar   1   0   0   1   0   0   1   1   1   1   0   0  True   1   0   1
5    buffalo   1   0   0   1   0   0   0   1   1   1   0   0  True   1   0   1
6       calf   1   0   0   1   0   0   0   1   1   1   0   0  True   1   1   1
9       cavy   1   0   0   1   0   0   0   1   1   1   0   0  True   0   1   0
10   cheetah   1   0   0   1   0   0   1   1   1   1   0   0  True   1   0   1
14      crab   0   0   1   0   0   1   1   0   0   0   0   0  True   0   0   0
17      deer   1   0   0   1   0   0   0   1   1   1   0   0  True   1   0   1
22  elephant   1   0   0   1   0   0   0   1   1   1   0   0  True   1   0   1
25      frog   0   0   1   0   0   1   1   1   1   1   0   0  True   0   0   0
26      frog   0   0   1   0   0   1   1   1   1   1   1   0  True   0   0   0
28   giraffe   1   0   0   1   0   0   0   1   1   1   0   0  True   1   0   1
31      goat   1   0   0   1   0   0   0   1   1   1   0   0  True   1   1   1
35   hamster   1   0   0   1   0   0   0   1   1   1   0   0  True   1   1   0
36      hare   1   0   0   1   0   0   0   1   1   1   0   0  True   1   0   0
44   leopard   1   0   0   1   0   0   1   1   1   1   0   0  True   1   0   1
45      lion   1   0   0   1   0   0   1   1   1   1   0   0  True   1   0   1
47      lynx   1   0   0   1   0   0   1   1   1   1   0   0  True   1   0   1
48      mink   1   0   0   1   0   1   1   1   1   1   0   0  True   1   0   1
49      mole   1   0   0   1   0   0   1   1   1   1   0   0  True   1   0   0
50  mongoose   1   0   0   1   0   0   1   1   1   1   0   0  True   1   0   1
52      newt   0   0   1   0   0   1   1   1   1   1   0   0  True   1   0   0
54   opossum   1   0   0   1   0   0   1   1   1   1   0   0  True   1   0   0
55      oryx   1   0   0   1   0   0   0   1   1   1   0   0  True   1   0   1
63  platypus   1   0   1   1   0   1   1   0   1   1   0   0  True   1   0   1
64   polecat   1   0   0   1   0   0   1   1   1   1   0   0  True   1   0   1
65      pony   1   0   0   1   0   0   0   1   1   1   0   0  True   1   1   1
67      puma   1   0   0   1   0   0   1   1   1   1   0   0  True   1   0   1
68  pussycat   1   0   0   1   0   0   1   1   1   1   0   0  True   1   1   1
69   raccoon   1   0   0   1   0   0   1   1   1   1   0   0  True   1   0   1
70  reindeer   1   0   0   1   0   0   0   1   1   1   0   0  True   1   1   1
89      toad   0   0   1   0   0   1   0   1   1   1   0   0  True   0   0   0
90  tortoise   0   0   1   0   0   0   0   0   1   1   0   0  True   1   0   1
91   tuatara   0   0   1   0   0   0   1   1   1   1   0   0  True   1   0   0
94      vole   1   0   0   1   0   0   0   1   1   1   0   0  True   1   0   0
98      wolf   1   0   0   1   0   0   1   1   1   1   0   0  True   1   0   1